<div class="main-container">

    <div class="form-container">
        <h1>Contact form</h1>
        <form>
            <div class="inner-form">
                <input type="text" name="name" class="form-element red" />
                <input type="email" name="email" class="form-element green" />
                <textarea class="form-element"></textarea>
                <input type="checkbox" class="form-element checkbox" />
                <button type="submit" class="form-element">send</button>
            </div>


        </form>
    </div>

</div>