<div class="parent-container">
    <div class="globe-logo">
        <img src="assets/globe_logo.jpeg" />
    </div>
    <div class="citi-logo">
        <h1>Hi Tiffany</h1>
        <h4>Confirm the account you'd like to transfer your investments to.</h4>
        <div class="account-container">
            <div class="account">
                <div class="citi-logo-small">
                    <img src="assets/citi_logo.png" />
                </div>
                <div class="citi-account-type">
                    <h5>Brokerage Account</h5>
                </div>
                <div class="citi-account-number">
                    *********976
                </div>
                <div class="citi-account-balance">
                    <div class="balance-amount">
                        $600,0000.00
                    </div>
                    <div class="account-value">
                        account value
                    </div>
                </div>
            </div>
            <div class="account"></div>
            <div class="account"></div>
            <div class="account"></div>
            <div class="account"></div>
            <div class="account"></div>
        </div>
    </div>
</div>