.home-page {
    border-bottom: 1px solid #ccc;
}
.home-page .header-container {
    width: 70%;
    margin: 25px auto;
    display: flex;
}
.home-page .header-container .travel-text {
    margin-top: 10px;
    margin-left: 30px;
}
.home-page .header-container .logo {
    display: flex;
}
.home-page .header-container .logo img {
    height: 30px;
}
